@model JTicket.Models.Ticket
@{
    ViewBag.Title = "ViewTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

<h3>Description</h3>
<p>
    @Html.DisplayTextFor(m => m.Title)
</p>

<h3>Comments</h3>
<p>
    @Html.DisplayTextFor(m => m.Comments)
</p>

<h3>Severity</h3>
<p>
    @Html.DisplayTextFor(m => m.Severity)
</p>

<h3>Created</h3>
<p>
    @Html.DisplayTextFor(m => m.CreationDate)
</p>

<h3>Last Modified</h3>
<p>
    @Html.DisplayTextFor(m => m.LastModified)
</p>
