@model JTicket.Models.Ticket
@{
    ViewBag.Title = "ViewTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/ViewTicket.css" rel="stylesheet" />
</head>


<h2 class="banner">@Model.Title</h2>

<div class="view-ticket-container">

    <div class="view-ticket-attribute">
        <h3 class="view-ticket-header">Status</h3>
        <div>@Model.State</div>
    </div>

    <div class="view-ticket-attribute">
        <h3 class="view-ticket-header">Severity</h3>    
        <div>@Model.Severity</div>
    </div>


    <div class="view-ticket-attribute">
        <h3 class="view-ticket-header">Created</h3>
        <div>@Model.CreationDate</div>
    </div>


    <div class="view-ticket-attribute">
        <h3 class="view-ticket-header">Last Modified</h3>
        <div>@Model.LastModified</div>
    </div>



</div>
