@model JTicket.Views.ViewModels.TicketFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Ticket == null)    // New Ticket
{
    Model.Ticket = new JTicket.Models.Ticket();

    <h2>New Ticket</h2>
    Model.Ticket.creationDate = DateTime.Now; 
    Model.Ticket.lastModified = Model.Ticket.creationDate; 
    Model.Ticket.isOpen = true;
}
else    // Editing an existing ticket
{
    <h2>Edit Ticket</h2>
    Model.Ticket.lastModified = DateTime.Now;    // Update last modified
}


@using (Html.BeginForm("Save", "OpenTicket"))
{
    <div class="form-group">

        @Html.LabelFor(m => m.Ticket.Title)
        @Html.TextBoxFor(m => m.Ticket.Title, new { @class = "format-control" })
        @Html.ValidationMessageFor(m => m.Ticket.Title)

    </div> // HTML markup bootstrap understands

<div class="form-group">

    @Html.LabelFor(m => m.Ticket.Severity)
    @Html.DropDownListFor(m => m.Ticket.Severity, new SelectList(Model.severities), "Select Severity", new { @class = "format-control" })
    @Html.ValidationMessageFor(m => m.Ticket.Severity)
</div>

<div class="form-group">

    @Html.LabelFor(m => m.Ticket.Description)
    @Html.TextBoxFor(m => m.Ticket.Description, new { @class = "format-control" })
    @Html.ValidationMessageFor(m => m.Ticket.Description)
</div>


<div class="form-group">

    @Html.LabelFor(m => m.Ticket.Comments)
    @Html.TextBoxFor(m => m.Ticket.Comments, new { @class = "format-control" })
    @Html.ValidationMessageFor(m => m.Ticket.Comments)

</div>

    @Html.HiddenFor(m => m.Ticket.Id)
    @Html.HiddenFor(m => m.Ticket.creationDate)
    @Html.HiddenFor(m => m.Ticket.lastModified)
    @Html.HiddenFor(m => m.Ticket.isOpen)
    @Html.AntiForgeryToken()



    // To submit the form
    <button type="submit" class="btn" class="btn-primary">Save</button>
}

@section scripts
{
    
    @Scripts.Render("~/bundles/jqueryval")    
    
}

